:root {
  /* Should be branding */  --bushido-red: #D13744;
    --bushido-red-darker:#A52833;
    --bushido-red-custom-darker:#801f27;
    --bushido-bg:#282A30;
    --bushido-bg-darker:#24262B; 
    --bushido-bg-lighter:#35373e;
    --bushido-bg-mid-lighter:#464851;
    --bushido-bg-even-lighter: #5a5e6b;
    --bushido-bg-seriously-lighter:#6d7181;
    --bushido-white:#F6F0E9;

}
  
